*~
*.avi
*.bin
*.mp4
*.mat
*.out
*.png
*.jpg
*.vtk
*.vtu
*.pvd
*.pvsm
*.geo
*.msh
*.dylib
*.zip
.dropbox
*app/
*/data/
*/.DS_Store
.DS_Store
gmsh/*.pos
doc/TurbulenceGeneration/
exasim0.2/matlab/mesh/distmesh_old/
library.zip
problem/FM/navierstokes/TGV/
problem/Laplacian/poisson/poi2d2/app4/
visualization/
