*.pyc
*.vtu
*.m~
*.py~
*.jl~
*.h~
*.c~
*.cpp~
*.hpp~
*.cmake~
*.txt~
.gitignore~
build/
superbuild/
datain/
dataout/
build/*
backend/Model/*
kokkos/buildserial/*
text2code/superbuild/*
text2code/METIS/build/*
text2code/GKlib/build/*
text2code/text2code/build/*
text2code/symengine/build/*

